
@model dynamic;

@{
    /*Announcements Index page*/
    ViewBag.Title = " My Announcements";
}

<style>
    /*For the table on My Announcements*/

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: -moz-available;/*For mozilla based browsers*/
        width: -webkit-fill-available; /*For webkit based browsers*/
        width: -fill-available;
        height:100%;
        /*
        height: -moz-available;
        height: -webkit-fill-available;
        height: -fill-available;
        */
        font-size: medium; /*16px*/
        border: 1px solid #ddd;
        display: flex;
        flex-direction: column;
        border: 1px solid #000;
        border-radius: 20px;
    }
    /*
    .displayTableBody {
        height: -moz-available;
        height: -webkit-fill-available;
        height: -fill-available;
        width: -moz-available;
        width: -webkit-fill-available;
        width: -fill-available;
        
    }*/



    th, td {
        display: flex;
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: space-between;
    }

    tr {
        display: flex;
        width: -moz-available;
        width: -webkit-fill-available;
        width: -fill-available;
        justify-content: space-between;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    /*tr:nth-child(even) {
        background-color: #f2f2f2;
    }*/
    tbody > tr:nth-child(even) {
        background-color: #f2f2f2;
        border-radius: 0px;
    }

   .displayTitle{
       width:280px;
   }

    tbody {
        border-radius: inherit;
        height: inherit;/*inherits from table,  height: 100%*/
        overflow-y: scroll;
        overflow-x: auto;
    }

    thead > tr {
        background-color: #f2f2f2;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .displayDetails {
        width: -moz-available;
        width: -webkit-fill-available;
        width: -fill-available;
        display: flex;
        justify-content: center;
    }
    /*For the table on My Announcements*/
</style>

<div class="main-panel-div3">

    <div class="main-panel-inner">
        <b class="announcements-b4">@ViewBag.Title</b>
        <div class="search-buttons">
            <input class="search-announcements-input"
                   type="search"
                   placeholder="Search Announcements..."
                   autofocus />
            <div class="dropdown-time">
                <div class="helper-button-icon">
                    <div class="helper-button-label">This Week...</div>
                    <img class="chevron-down-icon"
                         alt=""
                         src="public/chevrondown.svg" />
                </div>
            </div>
        </div>
        <div class="container-make-announcement">

            <button class="button-add-staff-member1"
                    autofocus
                    id="buttonAddStaffMember">

                <b class="button-label2">Make Announcement</b>
            </button>
        </div>
    </div>
    <div style="width: -moz-available;
                          width: -webkit-fill-available;
                          width: -fill-available;
                          height: -moz-available;
                          height: -webkit-fill-available;
                          height: -fill-available; ">
        <table>
            <thead>
                <tr style=" background-color: #f2f2f2;">
                    <th class="displayTitle">Title</th>
                    <th class="displayDetails">Details</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var announcement in Model.announcements) { 
                <tr>
                    <td class="displayTitle"><b>@announcement.Title</b></td>
                    <td class="displayDetails">@announcement.Detail</td>
                    <td>
                        <button class="pencil-alt-button">
                            <img class="vector-icon3" alt="" src="~/Assets/IconEdit.svg" />
                        </button>
                        <div class="classes-div">|</div>
                        <button class="pencil-alt-button">
                            <img class="vector-icon4" alt="" src="~/Assets/IconTrash.svg" />
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>

</div>
<div class="right-panel-div2">
    <div class="notifications-div1" id="Table - Notifications">
        <div class="header-notifications1">
            <img class="icon-bell1" alt="" src="public/icon--bell.svg" /><b class="notifications-b1">Notifications</b>
        </div>
        <div class="divider-solid48"><div class="baseline-div48"></div></div>
        <div class="notifications-row-16">
            <div class="text-group-basic22">
                <div class="final-exam-b1">Final Exam is on Feb 26</div>
                <div class="weeks-left-div2">2 weeks left</div>
            </div>
            <div class="frame-div3"><div class="mins-div2">05 mins</div></div>
        </div>
        <div class="divider-solid49"><div class="baseline-div49"></div></div>
        <div class="notifications-row-16">
            <div class="text-group-basic22">
                <div class="final-exam-b1">Sports day will be held on Mar 16</div>
                <div class="weeks-left-div2">3 weeks left</div>
            </div>
            <div class="frame-div3"><div class="mins-div2">25 mins</div></div>
        </div>
        <div class="divider-solid49"><div class="baseline-div49"></div></div>
        <div class="notifications-row-16">
            <div class="text-group-basic22">
                <div class="final-exam-b1">Watch found on the 1st floor.</div>
                <div class="weeks-left-div2">
                    Go to the lost and found on the...
                </div>
            </div>
            <div class="frame-div3"><div class="mins-div2">2 hrs</div></div>
        </div>
    </div>
    <div class="view-complaints-div2" id="Table - Appointments">
        <div class="header-notifications1">
            <div class="icon-complaints1">
                <img class="vector-complaints1"
                     alt=""
                     src="public/vector--complaints.svg" />
            </div>
            <b class="notifications-b1">Appointments</b>
        </div>
        <div class="divider-solid48"><div class="baseline-div48"></div></div>
        <div class="appointments-row-12">
            <div class="text-group-basic25">
                <div class="the-final-exam-will-start-on-a">
                    Mr. Levi Ackermann
                </div>
            </div>
            <div class="apr-11-at-130pm1">Apr 11 at 1:30pm</div>
            <div class="days-left-div3">2 days left</div>
        </div>
        <div class="divider-solid49"><div class="baseline-div49"></div></div>
        <div class="appointments-row-12">
            <div class="text-group-basic25">
                <div class="the-final-exam-will-start-on-a">
                    Mrs. Kuchel Ackermann
                </div>
            </div>
            <div class="apr-11-at-130pm1">Apr 13 at 1:30pm</div>
            <div class="days-left-div3">4 days left</div>
        </div>
        <div class="divider-solid49"><div class="baseline-div49"></div></div>
        <div class="appointments-row-12" id="Appointment Row #3">
            <div class="text-group-basic25">
                <div class="the-final-exam-will-start-on-a">Dr. Eren Jager</div>
            </div>
            <div class="apr-11-at-130pm1">Apr 18 at 1:30pm</div>
            <div class="days-left-div3">9 days left</div>
        </div>
        <div class="divider-solid49"><div class="baseline-div49"></div></div>
    </div>
</div>

