@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860

*@

@model Director.Models.Functions.AddAnnouncement.AnnouncementsFormAndData;

@{
    ViewBag.Title = "Make Announcement";
}

<style>

    .make-announcement-b1 {
        position: relative;
        line-height: 28px;
        display: inline-block;
    }

    .x-circle-icon {
        position: relative;
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        overflow: hidden;
    }

    .frame-div9,
    .title-make-announcement {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .title-make-announcement {
        border-radius: 12px 12px 0 0;
        background-color: #fff;
        flex-direction: column;
        padding: 24px 40px 0;
        box-sizing: border-box;
        align-items: flex-start;
        justify-content: center;
        font-size: 20px;
        color: #232325;
    }

    .title-div1 {
        position: relative;
        line-height: 24px;
        font-weight: 600;
        display: inline-block;
    }

    .announcement-title-div,
    .input-announcement-title,
    .title-label-and-input {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .input-announcement-title {
        border: 1px solid #000;
        background-color: #fff;
        border-radius: 8px;
        box-sizing: border-box;
        position: relative;
        padding: 12px 16px;
        justify-content: center;
    }

    .announcement-title-div,
    .title-label-and-input {
        justify-content: flex-start;
    }

    .title-label-and-input {
        gap: 8px;
    }

    .announcement-title-div {
        padding: 24px 40px;
        box-sizing: border-box;
    }

    .details-div1,
    .text-area-announcement-detai {
        align-self: stretch;
        background-color: #fff;
        box-sizing: border-box;
    }

    .text-area-announcement-detai {
        border: 1px solid #000;
        position: relative;
        border-radius: 8px;
        height: 160px;
        flex-shrink: 0;
    }

    .details-div1 {
        display: flex;
        flex-direction: column;
        padding: 8px 40px;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
    }

    .button-label5 {
        position: relative;
        font-size: 16px;
        line-height: 24px;
        display: inline-block;
        font-family: Inter;
        color: #000;
        text-align: left;
    }

    .button-cancel1 {
        cursor: pointer;
        border: 1px solid #000;
        padding: 12px;
        background-color: transparent;
        border-radius: 8px;
        box-sizing: border-box;
        position: relative;
        width: 100px;
        height: 48px;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .button-label6 {
        position: relative;
        font-size: 16px;
        line-height: 24px;
        display: inline-block;
        font-family: Inter;
        color: #fff;
        text-align: left;
    }

    .button-post,
    .buttons-post-and-cancel {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        align-items: center;
    }

    .button-post {
        cursor: pointer;
        border: 0;
        padding: 12px;
        background-color: #000;
        border-radius: 8px;
        width: 100px;
        height: 48px;
        flex-shrink: 0;
        justify-content: center;
    }

    .buttons-post-and-cancel {
        align-self: stretch;
        border-radius: 0 0 12px 12px;
        background-color: #fbfbfb;
        padding: 16px 40px;
        justify-content: flex-end;
        gap: 24px;
    }

    .pop-up-make-announcement {
        position: relative;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.1);
        border: 1px solid #000;
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 15px;
        text-align: left;
        font-size: 14px;
        color: #000;
        font-family: Inter;
    }
</style>

<form class="pop-up-make-announcement" asp-controller="Announcement" asp-action="MakeAnnouncement">
    <div class="title-make-announcement">

        <div class="frame-div9">
            <b class="make-announcement-b1">@ViewBag.Title</b>
            <!--Suppose to close the popup using bootstrap (data-dismiss & aria-label)-->
            <button style="background-color: transparent; border: 0px" data-dismiss="modal" aria-label="Close">
                <img class="x-circle-icon" alt="" src="./Assets/IconCloseCircle.svg" />
            </button>

        </div>

    </div>
    <div class="announcement-title-div">
        <div class="title-label-and-input" id="Container - Title">
            <div class="title-div1"><label asp-for="Form.Title"></label></div>
            <input class="input-announcement-title"
                   required
                   type="text"
                   asp-for="Form.Title"
                   placeholder="Enter Title here..." />
        </div>
    </div>
    <div class="details-div1">
        <div class="title-div1"><label asp-for="Form.Details"></label></div>
        <textarea class="text-area-announcement-detai"
                  required
                  asp-for="Form.Details"
                  placeholder="Enter Announcement Details Here..."></textarea>
    </div>
    <div class="buttons-post-and-cancel">

        <!--Suppose to close the popup using bootstrap (data-dismiss & aria-label)-->
        <button class="button-cancel1" id="Button - Cancel" data-dismiss="modal" aria-label="Close">
            <b class="button-label5">Cancel</b>
        </button>

        <button class="button-post"
                autofocus
                id="Button - Post"
                type="submit">
            <b class="button-label6">Post</b>
        </button>
    </div>
</form>

<script></script>
