@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    MakeAnnouncement
*@
<div class="pop-up-make-announcement">
    <div class="title-make-announcement">
        <div class="frame-div9">
            <b class="make-announcement-b1">Make Announcement</b><img class="x-circle-icon" alt="" src="public/xcircle.svg" />
        </div>
    </div>
    <div class="announcement-title-div">
        <div class="title-label-and-input" id="Container - Title">
            <div class="title-div1">Title</div>
            <input class="input-announcement-title"
                   type="text"
                   placeholder="Enter Title here..." />
        </div>
    </div>
    <div class="details-div1">
        <div class="title-div1">Details</div>
        <textarea class="text-area-announcement-detai"
                  placeholder="Enter Announcement Details Here..."></textarea>
    </div>
    <div class="buttons-post-and-cancel">
        <button class="button-cancel1" id="Button - Cancel">
            <b class="button-label5">Cancel</b>
        </button><button class="button-post" autofocus id="Button - Post">
            <b class="button-label6">Post</b>
        </button>
    </div>
</div>

<script></script>
