@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="main-panel-div3" id="Main Panel">
    <div class="profile-div1"><b class="profile-b">Profile</b></div>
    <div class="profile-div2">
        <div class="profile-picture-div1">
            <img class="profile-container-icon1"
                 alt=""
                 src="public/profile-container.svg" />
            <div class="first-initial-div1">D</div>
        </div>
        <b class="mr-director-b">Mr. Director</b><button class="button-edit1" autofocus>
            <b class="edit-b1">Edit</b>
        </button>
    </div>
    <div class="general-details-div1">
        <div class="add-student-main-panel1">
            <div class="dashboard-div3">
                <div class="column-1-add-staff2">
                    <div class="name-label-input3" id="Container - FullName">
                        <div class="full-name-div1">Full Name</div>
                        <b class="full-name-div1">Keith Smith Sadis</b>
                    </div>
                    <div class="name-label-input3" id="Container - DOB">
                        <div class="full-name-div1">Date of Birth</div>
                        <b class="full-name-div1">08/10/1983</b>
                    </div>
                    <div class="name-label-input3">
                        <div class="gender-label-dropdown1">
                            <div class="staff-type-label-dropdown1">
                                <div class="gender-div1">Gender</div>
                            </div>
                        </div>
                        <b class="full-name-div1">Male</b>
                    </div>
                </div>
                <div class="column-1-add-staff2">
                    <div class="name-label-input3">
                        <div class="full-name-div1">Email</div>
                        <b class="full-name-div1">KeithSadis12thcommander@aot.com</b>
                    </div>
                    <div class="name-label-input3" id="Container - Phone">
                        <div class="full-name-div1">Phone Number</div>
                        <b class="full-name-div1">0912121212</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Copied straight from MyStudents.cshtml-->



<div class="right-panel-div">
    <div class="notifications-div" id="Table - Notifications">
        <div class="header-notifications">
            <img class="icon-bell" alt="" src="~/Assets/IconBell.svg" />
            <b class="lower-primary-b">Notifications</b>
        </div>
        <div class="divider-solid"><div class="baseline-div"></div></div>
        <div class="notifications-row-1">
            <div class="text-group-basic">
                <div class="sports-day-will-be-held-on-mar">
                    Final Exam is on Feb 26
                </div>
                <div class="weeks-left-div">2 weeks left</div>
            </div>
            <div class="frame-div"><div class="mins-div">05 mins</div></div>
        </div>
        <div class="divider-solid1"><div class="baseline-div1"></div></div>
        <div class="notifications-row-1">
            <div class="text-group-basic">
                <div class="sports-day-will-be-held-on-mar">
                    Sports day will be held on Mar 16
                </div>
                <div class="weeks-left-div">3 weeks left</div>
            </div>
            <div class="frame-div"><div class="mins-div">25 mins</div></div>
        </div>
        <div class="divider-solid1"><div class="baseline-div1"></div></div>
        <div class="notifications-row-1">
            <div class="text-group-basic">
                <div class="sports-day-will-be-held-on-mar">
                    Watch found on the 1st floor.
                </div>
                <div class="weeks-left-div">
                    Go to the lost and found on the...
                </div>
            </div>
            <div class="frame-div"><div class="mins-div">2 hrs</div></div>
        </div>
    </div>
    <div class="view-complaints-div" id="Table - Appointments">
        <div class="header-notifications">
            <div class="icon-complaints">
                <img class="vector-complaints"
                     alt=""
                     src="~/Assets/IconAppointments.svg" />
            </div>
            <div class="label-button">
                <b class="middle-primary-b">Appointments</b>
                <button data-toggle="modal" data-target="#showmodal"
                        autofocus style="text-decoration: none; background-color: transparent;
                                            display: flex; border:none;
                                            flex-direction: column;
                                            align-items: flex-end;">
                    <img class="iconaddappointment"
                         alt=""
                         src="~/Assets/IconAddAppointment.svg" />
                </button>
            </div>
        </div>
        <div class="divider-solid"><div class="baseline-div"></div></div>
        <div class="appointments-row-1">
            <div class="text-group-basic3">
                <div class="mr-levi-ackermann">Mr. Levi Ackermann</div>
            </div>
            <div class="apr-11-at-130pm">Apr 11 at 1:30pm</div>
            <div class="days-left-div">2 days left</div>
        </div>
        <div class="divider-solid1"><div class="baseline-div1"></div></div>
        <div class="appointments-row-1">
            <div class="text-group-basic3">
                <div class="mr-levi-ackermann">Mrs. Kuchel Ackermann</div>
            </div>
            <div class="apr-11-at-130pm">Apr 13 at 1:30pm</div>
            <div class="days-left-div">4 days left</div>
        </div>
        <div class="divider-solid1"><div class="baseline-div1"></div></div>
        <div class="appointments-row-1" id="Appointment Row #3">
            <div class="text-group-basic3">
                <div class="mr-levi-ackermann">Dr. Eren Jager</div>
            </div>
            <div class="apr-11-at-130pm">Apr 18 at 1:30pm</div>
            <div class="days-left-div">9 days left</div>
        </div>
        <div class="divider-solid1"><div class="baseline-div1"></div></div>
    </div>
</div>