body {
  margin: 0;
  line-height: normal;
}
.add-missing-attendance {
  position: relative;
  line-height: 28px;
  display: inline-block;
}
.x-circle-icon1 {
  position: relative;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  overflow: hidden;
}
.frame-div10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.studentname-has-missed-the-fo {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  display: inline-block;
}
.title-add-missing-attendance {
  align-self: stretch;
  border-radius: 12px 12px 0 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 24px 40px 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}
.input-label-div {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.date-div,
.dropdown-subjects {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.dropdown-subjects {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  position: relative;
  padding: 12px 16px;
  justify-content: center;
  font-size: 16px;
}
.date-div {
  justify-content: flex-start;
  gap: 8px;
}
.the-time-of-day-period {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
}
.input-missing-attendance-det {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 24px 40px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  font-size: 14px;
  color: #000;
}
.button-label7 {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  font-family: Inter;
  color: #000;
  text-align: left;
}
.button-cancel2 {
  cursor: pointer;
  border: 1px solid #000;
  padding: 12px;
  background-color: transparent;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  width: 100px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button-label8 {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.button-done3,
.buttons-done-and-cancel {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.button-done3 {
  cursor: pointer;
  border: 0;
  padding: 12px;
  background-color: #000;
  border-radius: 8px;
  width: 100px;
  height: 48px;
  flex-shrink: 0;
  justify-content: center;
}
.buttons-done-and-cancel {
  align-self: stretch;
  border-radius: 0 0 12px 12px;
  background-color: #fbfbfb;
  padding: 16px 40px;
  justify-content: flex-end;
  gap: 24px;
}
.pop-up-add-missing-attendanc {
  position: relative;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #000;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  text-align: left;
  font-size: 20px;
  color: #232325;
  font-family: Inter;
}
