
@model Director.Models.Functions.AddAppointment.AppointmentFormAndStudentData;

@{
    ViewBag.Title = "Make Appointment";
}

<div class="pop-up-make-appointment">
    <div class="title-add-missing-attendance">
        <div class="title-icon">
            <b class="make-appointment-b">@ViewBag.Title</b>
            <button style="background-color:transparent; border: none;" data-dismiss="modal" aria-label="Close">
                <img class="iconclosecircle"
                     alt=""
                     src="~/Assets/IconCloseCircle.svg" />
            </button>
        </div>
        <div class="make-an-appointment-with-stud">
            Make an Appointment using the student's name and the parent will be notified.
        </div>
    </div>
    <div class="input-appointment-detail">
        <div class="studentid-div">
            <div class="student-name-div">Student Name</div>
            <input class="input-field-default-withou" placeholder="Enter Student's Name Here..." required/>
        </div>
        <div class="studentid-div" id="Container - Subject">
            <div class="student-name-div">Reason For Appointment</div>
            <textarea class="input-field-default-withou" required>Enter The Reason For The Appointment Here...</textarea>
        </div>
        <div class="studentid-div" id="Container - Date">
            <div class="student-name-div">Date</div>
            <input class="input-field-default-withou" type="date" required/>
        </div>
    </div>
    <div class="buttons-done-and-cancel">
        <button class="button-cancel" id="Button - Cancel" data-dismiss="modal" aria-label="Close">
            <b class="button-cancel-label2">Cancel</b>
        </button><button class="button-done" autofocus id="Button - Done">
            <b class="button-label3">Done</b>
        </button>
    </div>
</div>