
@model Director.Models.Functions.AddAppointment.AppointmentFormAndStudentData;

@{
    ViewBag.Title = "Make Appointment";
}




<form class="pop-up-make-appointment">
    <div class="title-add-missing-attendance">
        <div class="title-icon">
            <b class="make-appointment-b">@ViewBag.Title</b>
            <button style="background-color:transparent; border: none;" data-dismiss="modal" aria-label="Close">
                <img class="iconclosecircle"
                     alt=""
                     src="~/Assets/IconCloseCircle.svg" />
            </button>
        </div>
        <div class="make-an-appointment-with-stud">
            Make an Appointment using the student's name and the parent will be notified.
        </div>
    </div>
    <div class="input-appointment-detail">
        <div class="studentid-div">
            <div class="student-name-div">Student Name</div>
            <input id="StudentName" class="input-field-default-withou" placeholder="Enter Student's Name Here..."
                   required
                   onkeyup="checkSearchChanged()" />

            <div class="studentid-div" id="Container - Subject">
                <div class="student-name-div">Reason For Appointment</div>
                <textarea class="input-field-default-withou"
                          required
                          placeholder="Enter The Reason For The Appointment Here..."
                          style="height: 150px;"></textarea>
            </div>
            <div class="studentid-div" id="Container - Date">
                <div class="student-name-div">Date</div>
                <input class="input-field-default-withou" type="date" required />
            </div>
        </div>
    </div>
    <div class="buttons-done-and-cancel">
        <button class="button-cancel" id="Button - Cancel" data-dismiss="modal" aria-label="Close">
            <b class="button-cancel-label2">Cancel</b>
        </button><button class="button-done" autofocus id="Button - Done" type="submit">
            <b class="button-label3">Done</b>
        </button>
    </div>
</form>


<script>
    $('#StudentName').mentionsInput({
        onDataRequest: function (mode, query, callback) {
            var data = [
                { id: 1, name: 'Kenneth Auchenberg', 'avatar': 'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type': 'contact' },
                { id: 2, name: 'Jon Froda', 'avatar': 'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type': 'contact' },
                { id: 3, name: 'Anders Pollas', 'avatar': 'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type': 'contact' },
                { id: 4, name: 'Kasper Hulthin', 'avatar': 'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type': 'contact' },
                { id: 5, name: 'Andreas Haugstrup', 'avatar': 'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type': 'contact' },
                { id: 6, name: 'Pete Lacey', 'avatar': 'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type': 'contact' }
            ];

            data = _.filter(data, function (item) { return item.name.toLowerCase().indexOf(query.toLowerCase()) > -1 });

            callback.call(this, data);
        }
    });

</script>