
@model Director.Models.Forms.FormModel;

@{ ViewBag.Title = "Add Staff"; }

<style>
    /*For the table on Staff/index & AddStaff*/

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: -moz-available;
        width: -webkit-fill-available;
        width: -fill-available;
        border: 1px solid #ddd;
        font-size: small;
        height: 145px;
        display: flex;
        flex-direction: column;

        border: 1px solid #000;
        border-radius: 20px;
    }

    .displayTableBody {
        height: -moz-available;
        height: -webkit-fill-available;
        height: -fill-available;
        width: -moz-available;
        width: -webkit-fill-available;
        width: -fill-available;
        overflow-y: scroll;
        overflow-x: auto;
    }
    
   

    th, td {
        display: flex;
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: space-between;
    }

    tr {
        display: flex;
        width: -moz-available;
        width: -webkit-fill-available;
        width: -fill-available;
        justify-content: space-between;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
      

    .displayEmail {
        width: 230px;
    }

    .displayName {
        width: 160px;
    }

    .displayPhone {
        width: 135px;
    }

    .displayStaffType {
        width: 140px;
    }

    .displaySubject {
        width: 90px;
    }

    .displayGrade {
        width: 90px;
        display: flex;
        justify-content: center;
    }
    /*For the table on Staff/index & AddStaff*/
</style>

<div class="main-panel-div2">
    <b class="add-staff-b">@ViewBag.Title</b>

    <form class="form-add-staff" asp-action="AddStaff" asp-controller="Staff">
        <!--the form starts here-->
        <div class="add-staff-main-panel">
            <div class="dashboard-div2">
                <div class="column-1-add-staff">
                    <div class="name-label-input">
                        <div class="date-of-birth"><label asp-for="FirstName"></label></div>
                        <input class="input-field-default-withou"
                               type="text"
                               defaultvalue=""
                               placeholder="Enter Name Here..."
                               asp-for="FirstName"
                               />

                    </div>
                    <div class="name-label-input">
                        <div class="date-of-birth"><label asp-for="DateOfBirth"></label></div>
                        <input class="input-field-default-withou1"
                               defaultvalue=""                               
                               type="date"
                               asp-for="DateOfBirth"
                               />

                    </div>
                    <div class="gender-staff-type">
                        <div class="staff-type-label-dropdown">
                            <div class="staff-type-div"><label asp-for="Role"></label></div>
                            <select id="staff-type-dropdown" class="dropdown-default-basic1" 
                                    required
                                    defaultvalue=""
                                    asp-for="Role"
                                    onchange="toggleInput()">

                                <option value="Office Staff">Office Staff</option>
                                <option value="Teacher">Teacher</option>
                            </select>

                        </div>
                        <div class="gender-label-dropdown">
                            <div class="staff-type-label-dropdown1">
                                <div class="staff-type-div"><label asp-for="Gender"></label></div>
                                <select class="dropdown-default-basic1" 
                                        defaultvalue="None"
                                        required
                                        asp-for="Gender"
                                        >

                                    <option value="F">F</option>
                                    <option value="M">M</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column-1-add-staff">
                    <div class="name-label-input">
                        <div class="date-of-birth"><label asp-for="FathersName"></label></div>
                        <input class="input-field-default-withou"
                               defaultvalue=""
                               type="text"
                               placeholder="Enter Father's Name Here..."
                               asp-for="FathersName"
                               />
                    </div>
                    <div class="name-label-input">
                        <div class="date-of-birth"><label asp-for="Email"></label></div>
                        <input class="input-field-default-withou1"
                               type="email"
                               defaultvalue=""
                               placeholder="Enter Email Here..."
                               asp-for="Email"
                               />
                    </div>
                    <div class="grade-homeroom-label-dro">
                        <div class="homeroom-label-dropdown">
                            <div class="grade-div"><label asp-for="Grade"></label></div>
                            <select id="dropdown-default-basic4" class="dropdown-default-basic3" 
                                    defaultvalue=""
                                    disabled
                                    asp-for="Grade">
                                
                                <option value="0">None</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <div class="homeroom-label-dropdown">
                            <div class="grade-div"><label asp-for="Section"></label></div>
                            <select id="dropdown-default-basic3" class="dropdown-default-basic3" 
                                    defaultvalue=""
                                    disabled
                                    asp-for="Section">
                                    
                                <option value="0">None</option>
                                <option value="1">A</option>
                                <option value="2">B</option>
                                <option value="3">C</option>
                                <option value="4">D</option>
                                <option value="5">E</option>
                                <option value="6">F</option>
                            </select>
                        </div>
                    </div>
                    <div class="name-label-input">
                        <div class="subject-div"><label asp-for="Subject"></label></div>
                        <select id="dropdown-default-basic5" class="dropdown-default-basic5" 
                                defaultvalue=""
                                disabled
                                asp-for="Subject">

                            <option value="1">English</option>
                            <option value="2">Mathematics</option>
                            <option value="3">Biology</option>
                            <option value="4">Physics</option>
                            <option value="5">Chemistry</option>
                            <option value="6">Amharic</option>
                            <option value="7">History</option>
                            <option value="8">Geography</option>
                            <option value="11">Economics</option>
                            <option value="12">Business</option>
                            <option value="13">IT</option>
                            <option value="14">HPE</option>
                            <option value="15">Civics</option>

                        </select>
                    </div>
                </div>
                <div class="column-3-add-staff">
                    <div class="name-label-input">
                        <div class="date-of-birth"><label asp-for="GrandFathersName"></label></div>
                        <input class="input-field-default-withou"
                               type="text"
                               defaultvalue=""
                               placeholder="Enter Grandfather's Name Here..."
                               asp-for="GrandFathersName" />
                    </div>
                    <div class="name-label-input">
                        <div class="date-of-birth"><label asp-for="Phone"></label></div>
                        <input class="input-field-default-withou1"
                               type="tel"
                               defaultvalue=""
                               placeholder="Enter Phone Number Here..."
                               asp-for="Phone" />
                    </div>
                    <!-- // Needed when more than one teacher is teacher a single subject in a grade
                    <div class="grade-section-label-inpu">
                        <div class="sections-label-checkbox-gr">
                            <div class="sections-div">Sections</div>
                            <div class="checkboxgroup-select-section">
                                <div class="email-label-input1">
                                    <div class="checkbox-section-a">
                                        <input id="checkbox-selected"
                                               class="checkbox-selected"
                                               type="checkbox"
                                               defaultchecked="{false}"
                                               disabled
                                               value="A"
                                               asp-for="SectionsTaught[0]" />
                                        <label class="a-label">A</label>
                                    </div>
                                    <div class="checkbox-section-a">
                                        <input id="checkbox-selected2"
                                               class="checkbox-selected"
                                               type="checkbox"
                                               defaultchecked="{false}"
                                               disabled
                                               value="B"
                                               asp-for="SectionsTaught[1]" /><label class="a-label">B</label>
                                    </div>
                                    <div class="checkbox-section-a">
                                        <input id="checkbox-selected3"
                                               class="checkbox-selected"
                                               type="checkbox"
                                               defaultchecked="{false}"
                                               disabled
                                               value="C"
                                               asp-for="SectionsTaught[2]" /><label class="a-label">C</label>
                                    </div>
                                </div>
                                <div class="email-label-input1">
                                    <div class="checkbox-section-a">
                                        <input id="checkbox-selected4"
                                               class="checkbox-selected"
                                               type="checkbox"
                                               defaultchecked="{false}"
                                               disabled
                                               value="D"
                                               asp-for="SectionsTaught[3]" /><label class="d-label">D</label>
                                    </div>
                                    <div class="checkbox-section-a">
                                        <input id="checkbox-selected5"
                                               class="checkbox-selected"
                                               type="checkbox"
                                               defaultchecked="{false}"
                                               disabled
                                               value="E"
                                               asp-for="SectionsTaught[4]"
                                               name="ClassesTaught[4]" /><label class="a-label">E</label>
                                    </div>
                                    <div class="checkbox-section-a">
                                        <input id="checkbox-selected6"
                                               class="checkbox-selected"
                                               type="checkbox"
                                               defaultchecked="{false}"
                                               disabled
                                               value="F"
                                               asp-for="SectionsTaught[5]"
                                               name="ClassesTaught[5]" /><label class="a-label">F</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <div class="buttons-add-clear">
            <button class="button-add-staff-member2" autofocus type="submit">
                <b class="button-label2">Add</b>
            </button>
            <button class="button-remove-staff-member" type="reset" value="Reset">
                <b class="button-label3">Clear</b>
            </button>
        </div>
    </form>

    <div style="width: -moz-available;">
        <table>
            <tr style=" background-color: #f2f2f2;">
                <th class="displayName">Name</th>
                <th class="displayStaffType">Staff Type</th>
                <th class="displayEmail">Email</th>
                <th class="displayPhone">Phone</th>
                <th class=" displaySubject">Subject</th>
                <th class="displayGrade">Grade</th>
                <th>Actions</th>

            </tr>
            <tbody class="displayTableBody">
                

                <tr>
                    <td class="displayName"></td>
                    <td class="displayStaffType">Office Staff</td>
                    <td class="displayEmail"></td>
                    <td class="displayPhone"></td>
                    <td class="displaySubject">-</td>
                    <td class="displayGrade">-</td>
                    <td>
                         <button class="pencil-alt-button">
                             <img class="vector-icon3" alt="" src="~/Assets/IconEdit.svg" />
                         </button>
                         <div class="classes-div">|</div>
                         <button class="pencil-alt-button">
                             <img class="vector-icon4" alt="" src="~/Assets/IconTrash.svg" />
                         </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="button-done">
        <!--<div style = "display: flex; -ms-flex-align: center; -ms-flex-item-align: end;">-->
        <button class="button-add-staff-member3" id="buttonAddStaffMember1">
            <b class="button-label4">Cancel</b>
        </button>
        <!--</div>-->
        <button class="button-add-staff-member3" id="buttonAddStaffMember1">
            
            <b class="button-label4">

                <a asp-action="Index" asp-controller="Staff" >
                    Done
                </a>
            </b>

        </button>
    </div>
</div>
<script>
    //To enable the input fields that correspond only to the teacher when the staff type is teacher on the
    //AddStaff page. Also, to disable those fields when staff type is office staff.
    function toggleInput() {
        if ($('#staff-type-dropdown').val() == "Teacher") {

            $('#dropdown-default-basic4').prop('disabled', false);
            $('#dropdown-default-basic3').prop('disabled', false);
            $('#dropdown-default-basic5').prop('disabled', false);

            $('#checkbox-selected').prop('disabled', false);
            $('#checkbox-selected2').prop('disabled', false);
            $('#checkbox-selected3').prop('disabled', false);
            $('#checkbox-selected4').prop('disabled', false);
            $('#checkbox-selected5').prop('disabled', false);
            $('#checkbox-selected6').prop('disabled', false);



        } else {
            $('#dropdown-default-basic4').prop('disabled', true);
            $('#dropdown-default-basic3').prop('disabled', true);
            $('#dropdown-default-basic5').prop('disabled', true);

            $('#checkbox-selected').prop('disabled', true);
            $('#checkbox-selected2').prop('disabled', true);
            $('#checkbox-selected3').prop('disabled', true);
            $('#checkbox-selected4').prop('disabled', true);
            $('#checkbox-selected5').prop('disabled', true);
            $('#checkbox-selected6').prop('disabled', true);



        }
    }

</script>
