@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    //MyStaff Page
*@
@{
}
<div class="main-panel-div1">
    <div class="main-panel-upper1">
        <b class="my-staff-b2">My Staff</b>
        <div class="search-buttons">
            <input class="input-field-default-with-i"
                   type="search"
                   placeholder="Office staff or teachers..."
                   autofocus />
            <div class="dropdown-default-basic">
                <div class="helper-button-icon">
                    <div class="helper-button-label">Subject...</div>
                    <img class="chevron-down-icon"
                         alt=""
                         src="public/chevrondown.svg" />
                </div>
            </div>
        </div>
        <div class="buttons-add-remove-staff">
            <b class="teachers-b">Office Staff</b><button class="button-add-staff-member"
                                                          autofocus
                                                          id="buttonAddStaffMember">
                <b class="button-label">Add Staff</b>
            </button>
        </div>
        <div class="dashboard-div1" id="Table - View Office Staff">
            <div class="column-div">
                <div class="header-div2"><div class="name-div">Name</div></div>
                <div class="content-div">
                    <div class="text-group-basic7">
                        <b class="amy-matthews-b">Amy Matthews</b>
                        <div class="div">11023</div>
                    </div>
                </div>
                <div class="divider-solid8">
                    <div class="baseline-div8"></div>
                </div>
                <div class="content-div">
                    <div class="text-group-basic7">
                        <b class="amy-matthews-b">Bernard Lane</b>
                        <div class="div">99201</div>
                    </div>
                </div>
                <div class="divider-solid8">
                    <div class="baseline-div8"></div>
                </div>
            </div>
            <div class="column-div">
                <div class="header-div3"><div class="name-div">Role</div></div>
                <div class="content-div2">
                    <div class="helper-button-label">Secretary</div>
                </div>
                <div class="divider-solid8">
                    <div class="baseline-div8"></div>
                </div>
                <div class="content-div3">
                    <div class="helper-button-label">Associate</div>
                </div>
                <div class="divider-solid8">
                    <div class="baseline-div8"></div>
                </div>
            </div>
            <div class="column-div2">
                <div class="header-div4"><div class="name-div">Status</div></div>
                <div class="content-div4">
                    <div class="pills-outline">
                        <div class="pill-label-div">Active</div>
                        <img class="x-icon" alt="" src="public/x.svg" />
                    </div>
                </div>
                <div class="divider-solid8">
                    <div class="baseline-div8"></div>
                </div>
                <div class="content-div5">
                    <div class="pills-outline1">
                        <div class="pill-label-div">Inactive</div>
                        <img class="x-icon" alt="" src="public/x.svg" />
                    </div>
                </div>
                <div class="divider-solid8">
                    <div class="baseline-div8"></div>
                </div>
            </div>
            <div class="column-div3">
                <div class="header-div5"><div class="name-div">Actions</div></div>
                <div class="content-div6">
                    <img class="chevron-down-icon"
                         alt=""
                         src="public/pencilalt.svg" />
                    <div class="name-div">|</div>
                    <img class="chevron-down-icon" alt="" src="public/trash.svg" />
                </div>
                <div class="divider-solid8">
                    <div class="baseline-div8"></div>
                </div>
                <div class="content-div6">
                    <img class="chevron-down-icon"
                         alt=""
                         src="public/pencilalt1.svg" />
                    <div class="name-div">|</div>
                    <img class="chevron-down-icon" alt="" src="public/trash.svg" />
                </div>
                <div class="divider-solid8">
                    <div class="baseline-div8"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons-add-remove-staff">
        <b class="teachers-b">Teachers</b>
        <!-- <button class="button-add-staff-member1" id="buttonAddStaffMember1">
           <b class="button-label">Add Teachers</b>
         </button>-->

    </div>
    <div class="main-panel-lower1">
        <button class="add-office-staff2">
            <b class="lower-primary-1-4">
                <p class="lower-primary">Lower Primary</p>
                <p class="p">1-4</p>
            </b>
        </button><button class="add-office-staff2">
            <b class="lower-primary-1-4">
                <p class="lower-primary">Middle Primary</p>
                <p class="p">5 - 6</p>
            </b>
        </button><button class="add-office-staff2">
            <b class="lower-primary-1-4">
                <p class="lower-primary">Upper Primary</p>
                <p class="p">7 - 8</p>
            </b>
        </button>
        <div class="add-teachers-div1">
            <b class="lower-secondary-8-10">
                <p class="lower-primary">Lower Secondary</p>
                <p class="p">8-10</p>
            </b>
        </div>
        <div class="add-teachers-div1">
            <b class="lower-secondary-8-10">
                <p class="lower-primary">Preparatory</p>
                <p class="p">11 - 12</p>
            </b>
        </div>
    </div>
</div>
<div class="right-panel-div1">
    <div class="notifications-div1" id="Table - Notifications">
        <div class="header-div6">
            <img class="bell-icon1" alt="" src="public/bell.svg" /><b class="teachers-b">Notifications</b>
        </div>
        <div class="divider-solid16"><div class="baseline-div16"></div></div>
        <div class="notifications-row-11">
            <div class="text-group-basic9">
                <div class="amy-matthews-b">Final Exam is on Feb 26</div>
                <div class="weeks-left-div2">2 weeks left</div>
            </div>
            <div class="frame-div3"><div class="mins-div2">05 mins</div></div>
        </div>
        <div class="divider-solid17"><div class="baseline-div17"></div></div>
        <div class="notifications-row-11">
            <div class="text-group-basic9">
                <div class="amy-matthews-b">
                    Sports day will be held on Mar 16
                </div>
                <div class="weeks-left-div2">3 weeks left</div>
            </div>
            <div class="frame-div3"><div class="mins-div2">25 mins</div></div>
        </div>
        <div class="divider-solid17"><div class="baseline-div17"></div></div>
        <div class="notifications-row-11">
            <div class="text-group-basic9">
                <div class="amy-matthews-b">Watch found on the 1st floor.</div>
                <div class="weeks-left-div2">
                    Go to the lost and found on the...
                </div>
            </div>
            <div class="frame-div3"><div class="mins-div2">2 hrs</div></div>
        </div>
    </div>
    <div class="view-office-staff-accounts1" id="Table - Appointments">
        <div class="header-div6">
            <div class="auto-layout-home1">
                <img class="vector-icon1" alt="" src="public/icon--staff2.svg" />
            </div>
            <b class="teachers-b">Appointments</b>
        </div>
        <div class="divider-solid16"><div class="baseline-div16"></div></div>
        <div class="complaint-row-1">
            <div class="text-group-basic12">
                <div class="mr-levi-ackermann">Mr. Levi Ackermann</div>
            </div>
            <div class="apr-11-at-130pm">Apr 11 at 1:30pm</div>
            <div class="days-left-div">2 days left</div>
        </div>
        <div class="divider-solid17"><div class="baseline-div17"></div></div>
        <div class="complaint-row-1">
            <div class="text-group-basic12">
                <div class="mr-levi-ackermann">Mrs. Kuchel Ackermann</div>
            </div>
            <div class="apr-11-at-130pm">Apr 13 at 1:30pm</div>
            <div class="days-left-div">4 days left</div>
        </div>
        <div class="divider-solid17"><div class="baseline-div17"></div></div>
        <div class="complaint-row-1" id="Appointment Row #3">
            <div class="text-group-basic12">
                <div class="mr-levi-ackermann">Dr. Eren Jager</div>
            </div>
            <div class="apr-11-at-130pm">Apr 18 at 1:30pm</div>
            <div class="days-left-div">9 days left</div>
        </div>
        <div class="divider-solid17"><div class="baseline-div17"></div></div>
    </div>
</div>
 